
.App {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: auto;
  padding-top: 2rem;
}
button {
  padding: 0.6rem 1rem;
  background-color: rgb(45, 45, 45);
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  width: 7rem;
}
button:hover {
  background-color: rgb(72, 72, 72);
}
.media-div {
  height: 55vh;
  border: 5px solid green;
}
.camera {
  object-fit: cover;
}
.download {
  background-color: rgb(0, 100, 0);
  width: 10rem;
}

